/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css" ;
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


blockquote footer{
    font-size: 0.7em;
    text-align:right;
    font-style:italic;
    margin:12px 20px 0;
  }
  blockquote footer:before{ content:"\2014 \00a0"; }
  .mb-0{
      padding-top: 2%;
      font-style: italic;
    
  }
  .votes{
      padding-bottom: .5%;
  }
  body{
      background-color: darkslategray;
      backface-visibility: visible;

  }
  .fa-thumbs-up{
      color: blue;
      shape-image-threshold: unset;
  }
  .fa-thumbs-down{
      padding-left: 5%;
      color: red;
  }
  .green{
      color: green;
  }
  .red{
      color: red;
  }