<form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="col-md-6">
        <h2 class="text-center">Generate Quote</h2>
        <hr>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author" id="author" [(ngModel)]="newQuote.author"
                #author='ngModel' #spy required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author name is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Qoute Title</label>
            <input class="form-control" name="title" id="title" [(ngModel)]="newQuote.title" #quote='ngModel' required>
        </div>
        <div class="form-group">
            <label for="quote">Qoute</label>
            <textarea class="form-control" name="quote" id="quote" rows="2" [(ngModel)]="newQuote.quote"
                #quote='ngModel' required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Quote is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Posted By</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="newQuote.name" #name='ngModel' id="name"
                required/>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="complete">Created On</label>
            <input type="date" class="form-control" [(ngModel)]="newQuote.createdDate" name="createdDate"
                #createdDate="ngModel" id="complete"  required/>
            <div [hidden]="createdDate.valid ||createdDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
            </div>
        </div> -->
        <button type="submit" [disabled]="!quoteForm.valid" class="btn btn-sm btn-success">Add a Quote</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="reset(); quoteForm.reset()">Clear</button>
    </div>
</form>